<!-- Copyright 2014 Open Ag Data Alliance

  Licensed under the Apache License, Version 2.0 (the 'License');
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an 'AS IS' BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE html>
<html lang="en">

  <% if (autoaccept) { %>
    <body>
      <form action="<%= decision_url %>" id="mainForm" method="post">
        <input name="transaction_id" type="hidden" value="<%= transactionID %>" />
        <% scope.forEach(function(s) { %>
          <input name="scope[]" type="hidden" value="<%= s %>" />
        <% }) %>

        <input type="hidden" role="button" value="Allow" id="allow" />
      </form>
    </body>
    <script>
      document.getElementById('mainForm').submit();
    </script>
  <% } else { %>

  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="header pt-2 pb-2 pl-2 mb-2" style="background-color: <%= color %>;">
      <img style="max-width: 50px; max-height: 50px;" src="<%= logo_url %>" alt="<%= name %> Logo" />
      <span style="font-size: 2em;"><%= name %></span>
      <span style="float: right; padding-right: 5px;"><strong><%= user.name%></strong> <a href='<%= logout %>'>(Logout)</a></span>
    </div>
    
    <div class="container">
      <div class="jumbotron pt-4 pb-4">

        <div class="row pb-2">
          <div class="col" style="text-align: right">
          </div>
        </div>

        <div class="row pb-2">
          <div class="col">
            <strong><%= client.client_name %></strong> is requesting access to:
          </div>
        </div>

        <div class="row pb-2">
          <div class="col">
            <ul class="list-group">
              <% scope.forEach(function(s) { %>
              <li class="list-group-item"><%= s %></li>
              <% }) %>
            </ul>
          </div>
        </div>

        <div class="row pb-2">
          <div class="col">
            <% if(trusted) { %>
              <strong style="color: green;">
                Client IS registered with a trusted provider.
              </strong>
            <% } else { %>
              <strong style="color: red;">
                Client is NOT registered with a trusted provider.
                <br />
                Therefore, the below infomation may be incorrect.
              </strong>
            <% } %>
          </div>
        </div>

        <div class="row pb-2">
          <div class="col">
            <% if(client.policy_uri === undefined && client.tos_uri === undefined) { %>
              <strong style="color: red;">
                No published Privacy and Data Use Principles
              </strong>
            <% } else { %>
              <% if(client.policy_uri !== undefined) { %>
                <a href="<%= client.policy_uri %>">Client Policy Statement</a>
              <% } else { %>
                <strong style="color: red;">
                  No policy statement.
                </strong>
              <% } %>
              <br/>
              <% if(client.tos_uri !== undefined) { %>
                <a href="<%= client.tos_uri %>">Client TOS Statement</a>
              <% } else { %>
                <strong style="color: red;">
                  No TOS statement.
                </strong>
              <% } %>
            <% } %>
          </div>
        </div>

        <% if(client.licenses && client.licenses.forEach) { %>
          <div class="row">
            <div class="col">
              Supported License(s):
                <ul>
                  <% client.licenses.forEach(function(lic) { %>
                    <li><%= lic.name %></li>
                  <% }) %>
                </ul>
            </div>
          </div>
        <% } %>

        <div class="row">
          <div class="col">
            <form action="<%= decision_url %>" id="mainForm" method="post">
              <input name="transaction_id" type="hidden" value="<%= transactionID %>" />
              <% scope.forEach(function(s) { %>
                <input name="scope[]" type="hidden" value="<%= s %>" />
              <% }) %>

              <div class="input-group input-group-lg">
                <p>
                  <input type="submit" class="btn btn-lg btn-success" role="button" value="Allow" id="allow" />
                  <input type="submit" class="btn btn-lg btn-failure" role="button" value="Deny" name="cancel" id="deny" />
                </p>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <small>
              © 2017 <a href="http://openag.io">Open Ag Data Alliance</a>
            </small>
          </div>
        </div>

      </div>
    </div>

  </body>

  <% } %>
</html>
